* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #e6e6e6; FONT: 12px "ו",Arial,Verdana; COLOR: #000; PADDING-TOP: 100px; text-align:center
}
A:link {
	COLOR: #c00; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #c00; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.red {
	COLOR: #f00
}
.green {
	COLOR: #090
}
.title {
	BORDER-BOTTOM: #ccc 2px dotted; TEXT-ALIGN: center; MARGIN-BOTTOM: 10px; HEIGHT: 37px
}
.code {
	TEXT-ALIGN: center; MARGIN-TOP: 20px; HEIGHT: 28px
}
.dgok {
	TEXT-ALIGN: center; MARGIN-TOP: 20px; HEIGHT: 35px; COLOR: #090; FONT-SIZE: 20px; FONT-WEIGHT: bold
}
.code IMG {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; WIDTH: 60px; HEIGHT: 28px; VERTICAL-ALIGN: middle; BORDER-TOP: #c8c8c8 1px solid; CURSOR: pointer; BORDER-RIGHT: #c8c8c8 1px solid
}
.dgok IMG {
	VERTICAL-ALIGN: middle
}
#ddok {
	BORDER-BOTTOM: #ccc 5px solid; BORDER-LEFT: #ccc 5px solid; PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #fff; MARGIN: 0px auto; PADDING-LEFT: 20px; WIDTH: 600px; PADDING-RIGHT: 20px; HEIGHT: auto; BORDER-TOP: #ccc 5px solid; BORDER-RIGHT: #ccc 5px solid; PADDING-TOP: 20px; margin:0 auto; text-align:left
}
#ddok TABLE TD {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
#ddok TABLE TD.tda {
	TEXT-ALIGN: right; BACKGROUND-COLOR: #f7f7f7
}
#ddok TABLE TD.tdb {
	COLOR: #666
}
#ddok INPUT.txt {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; OUTLINE-STYLE: none; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: url(putbg.jpg) no-repeat; HEIGHT: 22px; COLOR: #060; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid; PADDING-TOP: 0px
}
#ddok INPUT.txt2 {
	TEXT-ALIGN: center; LINE-HEIGHT: 28px; WIDTH: 50px; FONT-FAMILY: Arial,Verdana; HEIGHT: 28px; FONT-SIZE: 18px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
#ddok INPUT.send {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 0px; WIDTH: 95px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; PADDING-TOP: 2px
}
.suba {
	BACKGROUND: url(suba.gif) no-repeat
}
.subb {
	BACKGROUND: url(subb.gif) no-repeat
}
input{border:0}