BODY {
	MARGIN: 0px
}
TD {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lb {
	BORDER-RIGHT: #d8d8d8 1px dashed; BORDER-TOP: 1px; BORDER-LEFT: #d8d8d8 1px dashed; BORDER-BOTTOM: 1px
}
A:hover {
	FONT-SIZE: 12px; COLOR: #0066ff; LINE-HEIGHT: 22px; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.a1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "宋体"; LETTER-SPACING: 0.1em; TEXT-DECORATION: none
}
A.a1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffd800; FONT-FAMILY: "宋体"; LETTER-SPACING: 0.1em; TEXT-DECORATION: none
}
A.a2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; LETTER-SPACING: 0.1em; TEXT-DECORATION: none
}
A.a2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"; LETTER-SPACING: 0.1em; TEXT-DECORATION: underline
}
#navigation TD {
	BORDER-BOTTOM: #ff9900 1px solid
}
#navigation A {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 22px; PADDING-BOTTOM: 8px; FONT: 11px/16px Arial, Helvetica, sans-serif; COLOR: #ff9900; PADDING-TOP: 8px; LETTER-SPACING: 0.1em; TEXT-DECORATION: none
}
#navigation A:hover {
	FONT-WEIGHT: bold; BACKGROUND: url(mm_bullet_yellow.gif) no-repeat 10px 50%; COLOR: #333399
}
#navheader {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; FONT: 24px/30px georgia; COLOR: #1f2669; PADDING-TOP: 10px; LETTER-SPACING: 0.4em
}
#logo {
	FONT: 14px/30px Arial, Helvetica, sans-serif; COLOR: #ff9900; LETTER-SPACING: 0.5em
}
#tagline {
	FONT: 11px/14px Arial, Helvetica, sans-serif; COLOR: #ff9900; LETTER-SPACING: 0.2em
}
#monthformat TD {
	BORDER-BOTTOM: #ffffcc 1px solid
}
#dateformat {
	FONT: 11px Arial, Helvetica, sans-serif; COLOR: #ffff00; LETTER-SPACING: 0.4em
}
#dateformat A {
	FONT: 11px Arial, Helvetica, sans-serif; COLOR: #ffff00; LETTER-SPACING: 0.1em; TEXT-DECORATION: none
}
#dateformat A:hover {
	COLOR: #ffffcc
}
.bodyText {
	MARGIN-TOP: 0px; FONT: 11px/22px Arial, Helvetica, sans-serif; COLOR: #ffff00; LETTER-SPACING: 0.1em
}
.pageName {
	FONT-SIZE: 18px; COLOR: #ff0000; LINE-HEIGHT: 24px; FONT-FAMILY: "黑体"; LETTER-SPACING: 0.3em; TEXT-DECORATION: none
}
.columnHeader {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 0.3em; TEXT-DECORATION: none
}
.subHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; LETTER-SPACING: 0.1em
}
.subHeaderg {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #5f8cc0; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; LETTER-SPACING: 0.1em
}
.smallText {
	FONT: 10px Arial, Helvetica, sans-serif; COLOR: #333333
}
.navText {
	FONT: 11px/16px Georgia, Times New Roman, Times, serif; COLOR: #1f2669; LETTER-SPACING: 0.1em; TEXT-DECORATION: none
}
.box7 {
	BORDER-RIGHT: #ff7676 1px solid; BACKGROUND-POSITION: center 50%; BORDER-TOP: #ff7676 1px solid; BACKGROUND-IMAGE: url(images/ta09.jpg); BORDER-LEFT: #ff7676 1px solid; BORDER-BOTTOM: #ff7676 1px solid; BACKGROUND-REPEAT: repeat-x
}
.box1 {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; BORDER-BOTTOM: #d4d4d4 1px solid
}
.box2 {
	BORDER-RIGHT: #c5ddf7 1px solid; BORDER-TOP: #c5ddf7 1px solid; BORDER-LEFT: #c5ddf7 1px solid; BORDER-BOTTOM: #c5ddf7 1px solid
}
.box3 {
	BORDER-RIGHT: #c5ddf7 1px solid; BORDER-TOP: #c5ddf7 1px solid; BORDER-LEFT: #c5ddf7 1px solid; BORDER-BOTTOM: #c5ddf7 1px solid
}
.boxsxian {
	BORDER-TOP: #e6e6e6 1px solid
}
.box11 {
	BORDER-RIGHT: #36a201 1px solid; BORDER-LEFT: #36a201 1px solid; BORDER-BOTTOM: #36a201 1px solid
}
.box5 {
	BORDER-RIGHT: #c5ddf7 1px solid; BORDER-TOP: #c5ddf7 1px solid; BORDER-LEFT: #c5ddf7 1px solid; BORDER-BOTTOM: #c5ddf7 1px solid
}
.box6 {
	BORDER-RIGHT: #c5ddf7 1px solid; BORDER-TOP: #c5ddf7 1px solid; BORDER-LEFT: #c5ddf7 1px solid; BORDER-BOTTOM: #c5ddf7 1px solid; BACKGROUND-COLOR: #ffffff
}
.t18 {
	FONT-SIZE: 14px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.t18 P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.t18 TABLE {
	FLOAT: none
}
#cps {
	PADDING-LEFT: 17px; WIDTH: 700px
}
#cps IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MAX-WIDTH: 700px; MARGIN-LEFT: -2px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.admid {
	WIDTH: 950px; WORD-BREAK: break-all
}
.t24 {
	LINE-HEIGHT: 24px
}
.xiaxianbd {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN: 1px; WIDTH: 92px; COLOR: #000000; BORDER-TOP-STYLE: none; LINE-HEIGHT: 16px; PADDING-TOP: 1px; FONT-FAMILY: "宋体"; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 19px; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.ChangeMenu {
	FONT-SIZE: 13px; COLOR: #034695
}
.boxzxy {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; BORDER-TOP-STYLE: none; BORDER-BOTTOM: #7f9db9 1px solid
}
.boxzxy1 {
	BORDER-RIGHT: #990406 1px solid; BORDER-LEFT: #990406 1px solid; BORDER-TOP-STYLE: none; BORDER-BOTTOM: #990406 1px solid
}
.bj {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-REPEAT: repeat-x
}
.t13c {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: "宋体"; LETTER-SPACING: 0.2em; TEXT-DECORATION: none
}
.t13heic {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.t13 {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: "宋体"; LETTER-SPACING: 0em; HEIGHT: 23px; TEXT-DECORATION: none
}
.t12bai {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 22px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.t133 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 30px; FONT-STYLE: normal; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.t10a {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff9900; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.txtRedbold {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #e96200; TEXT-DECORATION: none
}
.sort2 {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; DISPLAY: inline-block; PADDING-LEFT: 3px; BACKGROUND: url(images/index_130.jpg); PADDING-BOTTOM: 3px; MARGIN: 5px; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 30px; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid
}
.boxn {
	BORDER-RIGHT: #c5ddf7 1px solid; BORDER-TOP: 0px; BORDER-LEFT: #c5ddf7 1px solid; BORDER-BOTTOM: #c5ddf7 1px solid
}
.botop {
	BACKGROUND: url(/s/img/botop.jpg)
}
.botop A:hover {
	FONT-WEIGHT: bold
}
.noton {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff
}
.ison {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffcc00
}
