#web {
    width: 640px;
    max-width: 100%;
    margin: 0px auto 0px auto;
    height: auto;
    overflow: hidden;
    font-family: 黑体;
    background: white
}

p {
    font-size: 13pt;
    line-height: 25px
}

img {
    max-width: 100%;
    margin: 0px auto 0px auto
}

._nav {
    width: 100%;
    height: 40px;
    border-bottom: solid 2px #000;
}

._nav ul {
    list-style: none;
}

._nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 14px;
    line-height: 40px
}

._nav ul li a {
    display: block;
    color: #fff;
}

._nav ul li a:hover {
    background: #4e8529;
}

._top h1 {
    width: 100%;
    overflow: hidden;
    margin: 10px 0px;
    line-height: 50px;
}

._top h1 span {
    display: block;
    width: 50%;
    font-size: 20px;
    float: left;
    text-align: center;
    color: #666;
}

._top h1 span:nth-child(2) {
    color: red;
    font-size: 18px;
}

/*评论活动*/

.winner_tips {
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    margin: 5px 0;
    height: 40px;
    line-height: 40px;
    background: url(static/images/lw.png) no-repeat 4px 7px;
    background-size: 24px auto;
    padding-left: 36px
}

.winner_tips a {
    color: #3990e6;
}

.winner_tips span {
    color: #f22f6d
}

.cmnt_op_bottom {
    clear: both;
    font-size: 10px;
    margin-top: 8px;
    margin-bottom: 4px;
    position: relative;
    color: #aaa
}

.cmnt_op_bottom_times {
    float: left;
    line-height: 16px;
    font-size: 12px;
}

.cmnt_op {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 16px;
    line-height: 16px;
    text-align: right;
    overflow: visible;
}

.cmnt_op_bottom_report {
    float: left;
    line-height: 16px;
    padding-left: 12px;
    color: #aaa;
}

.cmnt_op_bottom_report.on {
    color: #d2d2d2;
}

/*评论*/

.cmnt_article {
    clear: both;
    overflow: hidden;
    *zoom: 1;
}

.cmnt_title {
    height: 24px;
    position: relative;
    margin: 5px 0;
}

.cmnt_title span {
    display: block;
    position: absolute;
    left: -15px;
    top: 0;
    height: 24px;
    width: 72px;
    background: #21acfd;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.cmnt_item {
    clear: both;
    overflow: hidden;
    *zoom: 1;
    padding: 0 0 12px 38px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}

.cmnt_item:last-child {
    border-bottom: none;
}

.cmnt_top {
    clear: both;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #00a0fe;
    margin: 14px 0 -8px -38px;
    position: relative;
}

.cmnt_base .cmnt_top {
    height: 40px;
    line-height: 24px;
    font-size: 12px;
    margin: 0 0 2px;
    color: #333;
}

.cmnt_top span:first-child {
    display: block;
    color: #3990e6;
    position: relative;
    padding-left: 38px;
    
    background-size: 100px auto;
    background-position: 0 -336px;
}

.cmnt_top .cmnt_source {
    display: block;
    color: #999;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.cmnt_top .cmnt_nick {
    display: block;
    height: 20px;
    line-height: 20px;
    font-style: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.cmnt_top .cmnt_nick em {
    display: inline-block;
    font-size: 10px;
    color: #aaa;
    margin-left: 4px;
    font-style: normal
}

.phone {
    display: inline-block;
    vertical-align: middle;
    width: 0;
}

.cmnt_top .cmnt_time {
    display: block;
    height: 14px;
    line-height: 14px;
    font-size: 10px;
    color: #999;
    font-style: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.cmnt_base .cmnt_top span {
    padding-left: 0;
    background: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.cmnt_top span img {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.cmnt_top code {
    font-size: 10px;
    color: #999;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 24px;
    line-height: 24px;
    width: 45px;
    text-align: right;
}

.cmnt_top .editor {
    font-size: 9px;
    font-style: normal;
    line-height: 19px;
    padding: 0 10px 1px 21px;
    border: 1px solid #fe7358;
    border-radius: 10px;
    color: #fe7358;
    margin-left: 10px;
    
    background-size: 100px auto;
    background-position: 9px -539px;
}

.cmnt_base .cmnt_top code {
    font-size: 12px;
    color: #8b8b7e;
    top: 7px;
    width: 30px;
    text-align: center;
}

.cmnt_text {
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    color: #333;
    padding: 2px 0;
    word-break: break-all;
    word-wrap: break-word;
    margin-top: 2px;
    padding-right: .5rem;
}

.cmnt_quote {
    font-size: 12px;
    color: #3990e6;
    padding: 10px 5px;
    text-indent: 2em;
    background: #f2f2f2;
    margin: 10px 0 0 0;
    clear: both;
}

.cmnt_text a {
    margin-left: 10px;
    color: #5494EA;
    font-size: 12px;
}

.cmnt_op {
    position: absolute;
    right: 0;
    top: 13px;
    display: block;
    height: 16px;
    line-height: 16px;
    text-align: right;
    overflow: visible;
}

.cmnt_op_all {
    position: absolute;
    right: -284px;
    top: 0;
    z-index: 9;
    background: rgba(54, 62, 71, 0.95);
    width: 264px;
    text-align: center;
    height: 44px;
    line-height: 44px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding-left: 20px;
}

.cmnt_op a,
.cmnt_op_all a {
    
    background-size: 100px auto;
    color: #aaa
}

.cmnt_op a,
.cmnt_op_all a {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    line-height: 16px;
}

.cmnt_op_all a.pl {
    background-position: -46px -69px;
    width: 16px;
    padding: 0 16px;
}

.cmnt_op_all a {
    border-right: 1px solid #525960;
}

.cmnt_op_all a:last-child {
    border: none;
}

.cmnt_op_all a.good {
    padding-left: 22px;
    color: #fff;
    background-position: -60px -105px;
    font-size: 12px;
    position: relative;
    padding-right: 16px;
}

.cmnt_op_all a.good.on {
    background-position: 0 -136px
}

.cmnt_op a.good {
    padding-left: 20px;
    color: #999;
    background-position: 0 -105px;
    font-size: 12px;
    position: relative;
    padding-right: 10px;
}

.cmnt_op a.good::after {
    width: 1px;
    content: '';
    display: inline-block;
    height: 14px;
    background: #dfdfdf;
    position: absolute;
    right: -1px;
    top: 1px;
}

.cmnt_op a.good.on {
    background-position: 0 -136px
}

.cmnt_op a.cmntico {
    padding-left: 22px;
    color: #aaa;
    margin-left: 10px;
    background-position: 0 -69px;
    font-size: 12px;
    position: relative;
    padding-right: 5px;
}

.cmnt_op_all a.send {
    background-position: -42px -167px;
    width: 16px;
    padding: 0 20px;
}

.cmnt_op_all a.fold {
    background-position: 20px -190px;
    width: 16px;
    padding: 0 20px;
}

.cmnt_op a.unfold {
    width: 28px;
    background-position: -50px -190px;
}

.cmnt_op .fly,
.cmnt_op_all .fly {
    position: absolute;
    display: inline-block;
    
    background-size: 100px auto;
    background-position: 0 -140px;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    opacity: 1;
    animation: flying 0.6s;
    -moz-animation: flying 0.6s;
    /* Firefox */
    -webkit-animation: flying 0.6s;
    /* Safari and Chrome */
    -o-animation: flying 0.6s;
    /* Opera */
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

body {
    -webkit-font-smoothing: antialiased
}

.ZiBox-popup {
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    display: none;
    overflow: hidden;
    width: 270px;
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: perspective(1200px) translate3d(-50%, -50%, 0) scale(1.2);
    transform: perspective(1200px) translate3d(-50%, -50%, 0) scale(1.2);
    text-align: center;
    opacity: 0;
    color: #000;
    border-radius: 3px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased
}

.ZiBox-popup.ZiBox-popup-in {
    display: block;
    transition-property: all;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: perspective(1200px) translate3d(-50%, -50%, 0) scale(1);
    transform: perspective(1200px) translate3d(-50%, -50%, 0) scale(1);
    opacity: 1
}

.ZiBox-popup-inner {
    position: relative;
    padding: 15px;
    border-radius: 3px 3px 0 0;
    background: rgba(255, 255, 255, .95)
}

.ZiBox-popup-inner:after {
    position: absolute;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    background-color: rgba(0, 0, 0, .2)
}

.ZiBox-popup-inner p {
    background: #000;
    background-size: 200%, 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: word 3s linear infinite;
}

@-webkit-keyframes word {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.ZiBox-popup-title {
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    color: #4a4a4a
}

.ZiBox-popup-title+.ZiBox-popup-text {
    font-family: inherit;
    font-size: 16px;
    margin: 5px 0 0;
    color: #4a4a4a;
    line-height: 1.3
}

.ZiBox-prompt-text {
    background: 0 0;
    border: 0;
    outline: 0;
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
    margin-top: .2rem;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    text-align: center
}

.ZiBox-popup-buttons {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 44px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}

.ZiBox-popup-button {
    font-size: 14px;
    line-height: 44px;
    position: relative;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 1px 5px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #007aff;
    background: rgba(255, 255, 255, .95);
    -webkit-box-flex: 1
}

.ZiBox-popup-button:first-child:last-child {
    border-radius: 0 0 3px 3px
}

.ZiBox-popup-button.ZiBox-popup-button-bold {
    font-weight: 600
}

.ZiBox-popup-button:after {
    position: absolute;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    display: block;
    width: 1px;
    height: 100%;
    content: '';
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    background-color: rgba(0, 0, 0, .2)
}

.ZiBox-popup-backdrop.ZiBox-active {
    opacity: 1
}

.ZiBox-popup-backdrop {
    position: fixed;
    z-index: 999998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    opacity: 0;
    background: rgba(0, 0, 0, .4)
}

.ZiBox-toast-container {
    position: fixed;
    z-index: 999999;
    top: 0;
    width: 100%;
    -webkit-transition: opacity .8s;
    transition: opacity .8s;
    opacity: 0;
    left: 0
}

.ZiBox-toast-container.ZiBox-active {
    opacity: 1
}

.ZiBox-toast-message {
    position: fixed;
    z-index: 9999;
    font-size: 14px;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: #fff;
    background-color: #4cd964
}

.ZiBox-btn-outlined.ZiBox-btn-blue,
.ZiBox-btn-outlined.ZiBox-btn-primary {
    color: #007aff
}

.ZiBox-btn-outlined {
    background-color: transparent
}

.ZiBox-btn-blue,
.ZiBox-btn-primary,
input[type=submit] {
    color: #fff;
    border: 1px solid #007aff;
    background-color: #007aff
}

.ZiBox-btn,
input[type=button],
input[type=reset],
input[type=submit] {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 12px;
    cursor: pointer;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fff;
    background-clip: padding-box
}

.ZiBox-btn {
    display: block;
    width: 120px;
    margin: 10px auto
}

#zchange {
    width: 44px;
    height: 44px;
    display: block;
    margin: 0 auto;
    animation: circle1 1.2s infinite linear;
    -webkit-animation: circle1 1.2s infinite linear;
    transition: all linear
}

@-webkit-keyframes circle1 {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes circle1 {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.wx2btn {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: bolder;
    padding: 2px
}

.btns .kj_copy_btn {
    border: none;
    color: white;
    background: #4CAF50;
    line-height: 1.06666667rem;
    text-align: center;
    border-radius: .13333333rem;
    font-size: .42666667rem;
    margin-top: .53333333rem;
    display: inline-block;
    width: 4.8rem;
    text-decoration: none;
    text-indent: 0;
}

.btns .kj_copy_btn_disabled {
    background: #cccccc
}