@charset "UTF-8";
html{color:#000;background:#FFF;}
body {font-size: 0.26rem;color: #000;font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",SimSun,"宋体",sans-serif}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
img{vertical-align:top;}
address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit;}
del,ins{text-decoration:none;}
ol,ul,li,dl,dd,dt{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
textarea {resize: none}
img {border: 0;vertical-align: top;max-width: 100%}
em,i {font-style: normal}
a{color: #000; text-decoration: none; cursor:pointer; }
.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}
.wrap{
	width: 6.4rem;
	margin:0 auto;
}
.circle-title{
    margin: 0.4rem auto;
    color: #323232;
    font-size: 22px;
    line-height: 0.46rem;
    padding: 0 0.3rem;
}
.publish-auth{
    margin: 0 0.24rem;
    padding-bottom: 0.3rem;
}
.publish{
    position: relative;
    font-size: 15px;
}
.publish .publish-avatar{
    display: block;
    float: left;
    height: 0.64rem;
    width: 0.64rem;
    margin-right: 0.2rem;
    border-radius: 50%;
}
.publish .publish-name{
    height: 0.64rem;
    font-size: 14px;
    line-height: 0.64rem;
    color: #4f7cae;
}
.publish .publish-floor{
    background: rgba(193,149,255,.7);
    display: inline-block;
    height: 0.28rem;
    width: 0.28rem;
    font-size: 11px;
    color: #fff;
    text-align: center;
    line-height: 0.28rem;
    vertical-align: middle;
    border-radius: 2px;
}
.article{
    display: block;
    padding: 0 0.3rem;
    line-height: 1.66;
    color: #323232;
    font-size: 18px;
    text-align: justify;
}
.article .scrollLoading{
    display: block;
    max-width: 100%;
    margin: 0.2rem auto;
}
.article .icon-node {
    vertical-align: -0.017rem;
    width: 0.41rem;
    height: 0.26rem;
}
.publishTime {
    height: 18px;
    color: #999;
    line-height: 1;
    overflow: hidden;
    padding: 0.42rem 0.3rem;
    font-size: 12px;
}
.publishTime .pt-time{
    display: inline-block;
    color: #999;
    height: 18px;
    line-height:18px;
}
.publishTime .pt-likes,.rl-likes{
    float: right;
    height: 18px;
    line-height:18px;
}
.publishTime .icon-praise,.rl-likes .icon-praise{
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 0.1rem;
    background: url(../images/ico_praise.png) no-repeat;
    -webkit-background-size: 18px 18px;
    background-size: 18px 18px;
}
.publishTime .icon-praise.active ,.reply-list .icon-praise.active {
    background: url(../images/ico_praiseactive.png) no-repeat;
    -webkit-background-size: 18px 18px;
    background-size: 18px 18px;
}
.publishTime .pt-num {
    color: #999;
    font-weight: 400;
    font-size: 14px;
    vertical-align: middle;
}
.publishTime .pt-num.active,.reply-list .praise-text.active{
    color: #ee7cb7;
}
.reply-list{
    display: block;
    background: #fff;
    border-top: 10px solid #eee;
}
.reply-list li {
    display: block;
    padding: 0.4rem 0.3rem 0.3rem;
    border-bottom: 1px solid #ddd;
}
.reply-list .publish-info {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    font-size: 12px;
    line-height: 0.32rem;
    font-weight: 500;
    color: #999;
}
.reply-list .publish-info span {
    display: block;
}
.reply-list .publish-adv{
    height: 0.64rem;
    font-size: 13px;
    line-height: 0.64rem;
    color: #888888;
    float: right;
}
.adv-close{
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background: url(../images/adv-close.png) no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-top: 0;
    vertical-align: -2px;
}
.reply-list .rl-part{
    display: block;
    padding: 0.2rem 0 .16rem 0.84rem;
    line-height: 1.66;
    color: #323232;
    font-size: 18px;
    text-align: justify;
}
.reply-list .praise-text{
    float: right;
    color: #999;
    font-weight: 400;
    font-size: 14px;
    vertical-align: middle;
    height:18px;
    line-height: 18px;
}
.reply-list .stack-box{
    position: relative;
    margin-top: 0.8rem;
    padding: 0.28rem 0.2rem;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-left: 0.84rem;
}
.reply-list .stack-item {
    margin-top: 0.24rem;
    font-size: 16px;
    line-height: 0.4rem;
}
.reply-list .stack-box .stack-item:first-child {
    margin-top: 0;
}
.reply-list .stack-name{
    color: #4f7cae;
}
.reply-list .coment-img{
    margin-top: 0.2rem;
}
.recommends{
    width: 100%;
    overflow-x: hidden;
    background-color: #fff;
    border-top: 10px #eee solid;
}
.recommends .recommends-title {
    display: block;
    height: 0.32rem;
    margin: 0.28rem 0 0.28rem 0.3rem;
    color: #323232;
    font-size: 16px;
    line-height: 0.31rem;
    overflow: hidden;
}
.recommends .right-border {
    display: inline-block;
    width: 3px;
    height: 0.32rem;
    margin-right: 0.2rem;
    vertical-align: top;
    background-color: #ff74b9;
    border-radius: 1.5px;
}
.recommends .palin-text {
    overflow: hidden;
    color: #6c6155;
    width: 6.4rem;
}
.recommends .palin-text, .palin-text li a {
    position: relative;
    font-size: 15px;
}
.recommends .palin-text:after, .palin-text:before {
    position: absolute;
    left: 50%;
    bottom: -8px;
    width: 0;
    height: 0;
    margin-left: -4px;
    content: " ";
    z-index: 101;
}
.recommends .palin-text li {
    position: relative;
    padding-left: 0.3rem;
    width: 6.1rem;
}
.recommends .img-recommend {
    height: 2rem;
}
.recommends .palin-text li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #323232;
    border-bottom: 1px solid #ddd;
}
.recommends a:-webkit-any-link {
    text-decoration: none;
}
.recommends .desc {
    position: absolute;
    right: 2.5rem;
    left: 0;
    top: 0.24rem;
    padding-right: 0.2rem;
}
.recommends .img-text {
    font-size: 19px;
    line-height: 0.56rem;
    -webkit-line-clamp: 2;
    display: -webkit-box!important;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.recommends .img-holder {
    position: relative;
    display: inline-block;
    float: right;
    width: 2.2rem;
    height: 1.5rem;
    min-height: 1.4rem;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    vertical-align: middle;
    overflow: hidden;
}
.recommends .img-holder img{
    background-position: center center;
}
.recommends .info {
    position: absolute;
    bottom: .1rem;
    left: 0;
    right: 2.5rem;
    margin-top: -.1rem;
    height: 0.6rem;
    color: #999;
    font-size: 12px;    
    line-height: 0.56rem;
}
.recommends .left-dec {
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 111px;
    margin-top: .12rem;
}
.recommends .right-info {
    float: right;
    margin-top: .12rem;
    padding-right: 0.3rem;
}
.recommends .right-info span{
    margin-left:.06rem;
    padding:0
}
