* {
	margin:0;
	padding:0
}
ul,ol {
	list-style-type:none;
	list-style-image:none
}
a {
	text-decoration:none;
}
a:active {
	background-color:transparent
}
a:active,a:hover {
	outline:0 none
}
a:focus {
	outline:1px dotted
}
html {
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	text-size-adjust:100%;
	font-size:62.5%;
	font-family:sans-serif;
	/*font-size:16px;*/
}
body,button,input,select,textarea {
	font-family:"Microsoft Yahei",微软雅黑;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:400
}
h1 {
	font-size:36px
}
h2 {
	font-size:30px
}
h3 {
	font-size:22px
}
h4 {
	font-size:18px
}
h5 {
	font-size:14px
}
h6 {
	font-size:12px
}
abbr,acronym {
	border-bottom:1px dotted;
	cursor:help
}
b,strong {
	font-weight:700
}
dfn {
	font-style:italic
}
hr {
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0
}
mark {
	background-color:#D2E5FF;
	color:#000
}
code,kbd,pre,samp {
	font-family:monaco,menlo,consolas,'courier new',courier,monospace
}
pre {
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
	overflow:auto
}
q {
	quotes:none
}
q:before,q:after {
	content:'';
	content:none
}
small {
	font-size:85.7%
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-.5em
}
sub {
	bottom:-.25em
}
table {
	border-collapse:collapse;
	border-spacing:0
}
th {
	text-align:left
}
table th,table td {
	border:1px solid #ddd;
	padding:8px 10px
}
table th {
	font-weight:inherit;
	border-bottom-width:2px;
	border-bottom-color:#ccc
}
img {
	border:0 none;
	width:auto \9;
	height:auto;
	max-width:100%;
	vertical-align:top;
	-ms-interpolation-mode:bicubic
}
svg:not(:root) {
	overflow:hidden
}
fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em
}
legend {
	border:0 none;
	white-space:normal;
	*margin-left:-7px
}
button,input,select,textarea {
	font-family:inherit;
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle
}
input,button {
	*overflow:visible
}
button,select {
	text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit] {
	-webkit-appearance:button;
	cursor:pointer
}
button[disabled],input[disabled] {
	cursor:default
}
input[type=checkbox],input[type=radio] {
	box-sizing:border-box;
	padding:0;
	*height:13px;
	*width:13px
}
input[type=search] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}
input[type=search]::-webkit-search-decoration {
	-webkit-appearance:none
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
	height:auto
}
textarea {
	overflow:auto;
	resize:vertical
}
select:disabled option:checked,option:disabled:checked {
	color:#D2D2D2
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	input {
	line-height:normal !important
}
}input::-moz-placeholder,textarea::-moz-placeholder {
	color:#a9a9a9;
	opacity:1
}
label {
	cursor:pointer
}
select[size],select[multiple],select[size][multiple] {
	border:1px solid #AAA;
	padding:0
}
body,p,div,span,em {
	font-size:16px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display:block
}
audio,canvas,video,progress {
	display:inline-block;
	vertical-align:baseline
}
audio:not([controls]) {
	display:none;
	height:0
}
[hidden],template {
	display:none
}
[draggable] {
	cursor:move
}
dialog {
	border:1px solid;
	padding:0;
	margin:auto;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:-moz-fit-content;
	width:-webkit-fit-content;
	width:fit-content;
	height:-moz-fit-content;
	height:-webkit-fit-content;
	height:fit-content
}
dialog::backdrop {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,.3)
}
body {
	padding:0;
	margin:0 auto;
	/*max-width:640px;
	min-width:320px;
	background:#ccdbe4;
	*/
	color:#404040;
	height:100%;
	overflow-x:hidden;
	position:relative;
}
.g-doc {
	max-width:640px;
	min-width:320px;
	padding:0;
	position:relative;
	margin:0px auto;
}
footer {
	border-top:1px solid rgb(221,221,221)
}
footer p {
	text-align:center;
}
footer p:last-child a {
	font-size:.6rem;
	color:#666;
}
.m-sub-box {
	position:fixed;
	bottom:.5rem;
	right:.5rem;
	background:rgba(0,0,0,.5);
	width:2rem;
	height:2rem;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	display:none;
}
.m-sub-box .m-back-to-top {
	color:#fff;
	width:100%;
	height:100%;
}
.m-icon-go-top {
	width:.8rem;
	height:.8rem;
	line-height:2rem;
	border-left:.1rem solid #fff;
	border-bottom:.1rem solid #fff;
	content:" ";
	position:absolute;
	left:30%;
	top:35%;
	transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	-moz-transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	-o-transform:rotate(135deg);
}
article strong {
	color:#f33;
	font-size:.7rem;
	text-align:center;
}
article .m-sao1sao {
	text-align:center;
}
em {
	font-style:normal;
}
.g-doc {
	background:#fff;
}
header {
	/*padding-top:2.5rem;
	*/
	padding-top:100px;
}
header p {
	padding:.2rem;
}
.m-title {
	font-size:28px;
	line-height:38px;
	color:#191919;
	font-weight:900;
}
.m-header-tips {
	color:#8c8c8c;
	font-size:16px;
	text-align:center;
	vertical-align:bottom;
}
.m-header-read {
	color:#85CDF6;
}
.m-bg {
	/*padding:.5rem;
	*/
	margin-top:30px;
}
.m-bg p {
	text-align:justify;
	color:#191919;
	font-size:16px;
	line-height:30px;
	padding-top:5px;
	padding:10px 0 10px;
}
.m-bg .m-sj .m-title {
	text-align:center;
}
.m-bg img {
	/*width:auto;
	margin:0 auto;*/
}
.m-bg .m-bg-p-title {
	font-size:16px;
	max-width:100%;
	box-sizing:border-box !important;
	word-wrap:break-word !important;
	margin-top:5px;
	margin-bottom:15px;
	font-weight:500;
	text-align:center;
}
.m-bg .f-tac {
	text-align:center;
}
.m-bg .f-cp {
	color:pink;
}
.f-cr {
	color:red;
	font-weight:800;
}
.m-bg .f-cb {
	color:rgb(0,122,170);
}
header .m-header-right {
	float:right;
	margin-right:.3rem;
}
.m-bg .f-ctips {
	border:5px solid #ddd;
	padding:20px 10px;
	margin-top:10px;
	margin-bottom:10px;
}
.m-bg .f-br-cw {
	color:#fff;
	background:red;
	font-size:16px;
	padding:5px;
}
.m-bg .m-sj {
	margin-bottom:10px;
}
.m-avator-slider {
	position:absolute;
	left:calc(50% - 600px);
	top:100px;
	/*-webkit-animation:float ease-in-out 1s infinite;
	animation:float ease-in-out 1s infinite;
	*/
}
.m-2vm {
	position:fixed;
	left:50%;
	top:50px;
	background:#F9F9F9;
	text-align:center;
	width:250px;
	margin-left:350px;
}
@-webkit-keyframes float {
	0% {
	-webkit-transform:translateY(0);
	transform:translateY(0);
}
50% {
	-webkit-transform:translateY(10px);
	transform:translateY(10px);
}
100% {
	-webkit-transform:translateY(0);
	transform:translateY(0);
}
}@keyframes float {
	0% {
	-webkit-transform:translateY(0);
	transform:translateY(0);
}
50% {
	-webkit-transform:translateY(10px);
	transform:translateY(10px);
}
100% {
	-webkit-transform:translateY(0);
	transform:translateY(0);
}
}@media screen and (max-width:640px) {
	.m-avator-slider {
	display:none;
}
}.m-bg .m-comment-h {
	line-height:1.6;
	/*border-left:5px solid red;
	*/
	padding:5px;
	text-align:center;
	position:relative;
	padding-left:5px;
}
.m-bg .m-comment-h::after {
	content:"";
	position:absolute;
	left:-10px;
	top:10px;
	width:4px;
	height:15px;
	background:red;
}
body {
	background:#fff;
}
.main-body {
	width:100%;
	margin:0 auto;
}
.header {
	position:fixed;
	z-index:99999;
	border-bottom:1px solid #ddd;
	width:1200px;
	background:#fff;
	padding-bottom:10px;
}
.header em {
	padding:5px;
	vertical-align:bottom;
	line-height:2.5;
	z-index:9999;
	font-size:14px;
}
.m-bg .f-fwb {
	font-weight:800;
	font-size:20px;
	padding:3px;
}
.lazy {
	display:none;
}
.m-sub-box {
	position:fixed;
	bottom:50px!important;
	right:50px!important;
	background:rgba(0,0,0,.5);
	width:50px!important;
	height:50px!important;
	-webkit-border-radius:1%!important;
	-moz-border-radius:1%!important;
	border-radius:1%!important;
	display:none;
}
.m-sub-box .m-icon-go-top {
	width:20px;
	height:20px;
	line-height:2rem;
}


            #alert{
                position: fixed;width:100%;height:100%;top:0;left:0;width:100%;height:100%;
                background:rgba(0,0,0,0.5);display: none;z-index: 99999;
            }
            .alert{
                position: relative; position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);
                border-radius: 10px;width:90%;max-width: 500px;
                padding:0 0 0 0;
            }
            .alert img{
                width:60%;
        
            }
            .alert .weixinpic{
                width:60%
            }
            .alert center{
                color:Red;
            }
            .alert .close{
                position: absolute;width:25px;height:25px;top:-5px;right:-5px;background:#333;border-radius:50%;
                text-align: center;line-height: 25px;color:#fff;cursor: pointer;
            }
            .alert .close::after{
                content: "X";font-size: 16px;font-weight: 600;
            }
        
            #footer{
                position:fixed;bottom:0;left:0;width:100%;
        
            }
            .footer{
                max-width: 640px;height:60px;background:#e05547;margin:0 auto;
                text-align: center;line-height: 50px;color:#fff;font-weight: 600;font-size: 16px;
            }
            .footer img{
                height:40px;width:40px;margin:5px;vertical-align: middle;display: inline-block;
                background:#e05547;
            }
.foot{position:fixed;width:750px;max-width:100%;bottom:0px;left:0px;right:0px;margin:0px auto;background:#fff;}
		@keyframes drive {
				from {
					transform: translate(400px);
				}

				to {
					transform: translate(0);
				}
			}

			.wechat {
				animation-name: drive;
				animation-duration: 0.3s;
			}

			@-webkit-keyframes twinkling {
				0% {
					opacity: 0.3;
				}

				25% {
					opacity: 1;
				}

				50% {
					opacity: 0.3;
				}

				75% {
					opacity: 1;
				}

				100% {
					opacity: 0.3;
				}
			}

			.copyword {
				-webkit-animation: twinkling 2s infinite ease-in-out;
			}

			.abcq {
				-webkit-animation: twinkling 3s infinite ease-in-out;
			}

			@media screen and (max-width:1170px) {
				.side {
					display: none;
				}
			}

			@media screen and (min-width:900px) {
				.qwe {
					display: none;
				}
			}
