*{margin: 0;padding: 0;border: 0;}

html,body{width: 100%;background: white;}

body{font-size: 62.5%;}

h1,h2,h3,h4,h5,h6{font-weight: normal;}

a{text-decoration: none;-webkit-tap-highlight-color: transparent;}

li{list-style-type:none;}

dl,dt,dd,input,font,i,ul,p{border: none 0;display: block;font-style:normal;margin: 0;}

strong,em,del,dfn,p,address{font-weight: normal;display: block;font-style:normal;}

input,input:focus,input:active{user-select: text;outline:none;-webkit-appearance: none;appearance: none;}

select,textarea{-webkit-appearance: none;appearance: none;border: 0;resize: none;outline: 0;}

.clears{clear: both;}

.filterbox{filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}

.testoverflow{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.pubwarp{max-width: 980px;min-width: 320px;margin: 0 auto;overflow: hidden;}

.pubcontainer{width: 100%;box-sizing:border-box;padding: 0rem 0.625rem;}

::-webkit-scrollbar{display: none;}

.l{float:left;}

.r{float:right;}

.posdis{position: relative; display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}

.cell_primary{-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;}

/*箭头*/

.pubdownico{border: 2px #999 solid;transform: translateY(-50%) rotate(45deg);-webkit-transform: translateY(-50%) rotate(45deg);width: 0.45rem;height: 0.45rem;border-width: 0px 2px 2px 0px;border-radius: 0.5px;}

.pubupico{border: 2px #999 solid;transform: translateY(-50%) rotate(45deg);-webkit-transform: translateY(-50%) rotate(45deg);width: 0.45rem;height: 0.45rem;border-width: 2px 0px 0px 2px;border-radius: 0.5px;}

.pubrightico{transform: translateY(-50%) rotate(45deg);-webkit-transform: translateY(-50%) rotate(45deg);width: 0.5rem;height: 0.5rem;border: 2px #d8d8d8 solid;border-width: 2px 2px 0px 0px;border-radius: 0.5px;}

.publeftico{transform: translateY(-50%) rotate(45deg);-webkit-transform: translateY(-50%) rotate(45deg);width: 0.5rem;height: 0.5rem;border: 2px #d8d8d8 solid;border-width: 0px 0px 2px 2px;border-radius: 0.5px;}

/*字体颜色*/

.pubcol32{color:#323232}

.pubcol68{color:#686868}

.pubcol86{color:#868686}

.pubcol99{color:#949494;}

.pubcolff55{color:#ff5500;}

.pubcolwh{color: white;}

.pubcolcfd{color: #cfd8e5;}

.pubcol336{color: #3361a7;}

.pubcolccc{color: #ccc;}

/*背景颜色*/

.pubbac262{background: #262b42;}

.pubbacfaf{background: #fafbfc;}

.pubbacf5f{background: #f5f7fa;}

/*main*/

.layout{width: 100%;height: 2.75rem;line-height: 2.75rem;overflow: hidden;}

.headertop .headeri{margin: 1.45rem 1.25rem 0rem;float: left;}

.headertop .headerh6{float: left;font-size: 1rem;font-weight: 700;}

.pubicon{float: right;display: block;background-size: 43px auto;width: 2.5rem;height: 2.75rem;background-image:url(../images/icons.png);background-repeat: no-repeat;}

.blue_kit_icon{background-position: 0 -50px;}

.blue_kit_icon_search{background-position: 0 -837px;}

.blue_kit_icon_more{background-position: 8px -891px;}

.headerdiv{border-bottom: 1px solid #f0f1f2;}

.headerdiv .headerdivimg{width: 2.125rem;height: 2.125rem;float: left;margin: 0.313rem 1.25rem 0 0.625rem;}

.headerdiv .headerdivh5{font-size: 1rem;float: left;line-height: 2.75rem;font-weight: 700;}

.headerdiv .headerdivem{font-size: 0.875rem;float: left;margin: 0.125rem 0 0 0.625rem;}

.headerdiv .headerdivi{float: right;margin: 1.45rem 0.625rem 0 0;}

.pubmainbox h1{width: 100%;box-sizing:border-box;padding:0.625rem;font-size: 1.25rem;}

.avatarbox{width: 100%;box-sizing:border-box;padding:0 0.625rem;height: 3rem;position: relative;}

.avatarbox .user_img{width: 2.375rem;height: 2.375rem;display: inline-block;overflow: hidden;margin-right: 0.313rem}

.avatarbox .avatarcon{height: 2.375rem;display: inline-block;overflow: hidden;}

.avatarbox .avatarcon .avatardiv{height: 1.5rem;}

.avatarbox .avatarcon .avatardiv .user_name{font-size: 0.875rem;display: inline-block;overflow: hidden;}

.avatarbox .avatarcon .avatardiv .level{margin: 0 3px;width: 20px;height: 20px;display: inline-block;line-height: 16px;text-align: center;color: #fff;vertical-align: middle;overflow: hidden;font-size: 0.75rem;margin-top: -0.313rem;}

.level{background-image: url(../images/global_icon.png);background-repeat: no-repeat;-webkit-background-size: 70px auto;background-size: 70px auto;}

.level_4, .level_5, .level_6, .level_7, .level_8, .level_9 {background-position: 0 -155px;}

.avatarbox .avatarcon .avatardiv .floor_lz_icon{display: inline-block;line-height: 18px;text-align: center;background: #3381e3;color: #fff;padding: 0 4px;margin: -0.313rem 4px 0 0;border-radius: 2px;vertical-align: middle;}

.avatardivtime{font-size: 0.75rem;}

.list_item_more_operation_btn{position: absolute;top: -5px;right: 0;width: 40px;height: 40px;background-position: 0 -1144px;}

.icon_btn {text-indent: -999em;text-align: center;white-space: nowrap;line-height: inherit}

.mainsection{width: 100%;box-sizing:border-box;padding: 0.625rem;}

.mainsection .mainimg{max-width: 100%;margin-bottom: 0.625rem}

.mainsection h3{font-size: 0.875rem;padding: 0.625rem 0;}

.mainsection p{font-size: 0.875rem;text-indent:2rem;line-height: 1.25rem;margin-bottom: 0.625rem}

.commentbox{width: 100%;border-top: 1px solid #eaebec;box-sizing:border-box;padding: 0.625rem 0.625rem 0 0;}

.commentbox .commentart{width: 100%;box-sizing:border-box;padding: 0rem 0.625rem 0.625rem 3.75rem;}

.commentbox .commentart h3{padding-bottom: 0.625rem;font-size: 0.875rem;}

.commentbox .commentart p{font-size: 0.75rem;width: 100%;}

.bqimgbox{display:inline-block;width:30px;height:30px;}

.pubfooter{width: 100%;box-sizing:border-box;padding: 0.625rem;border-top: 1px solid #eaebec;margin-top: 1.25rem;}

.pubfooter .pubftar{margin-bottom: 0.625rem;font-size: 0.75rem;text-align: center;}

.pubfooter span{text-align: center;display: block;}







