*{margin: 0;padding: 0;list-style: none;text-decoration: none;}
body,div,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin: 0;padding: 0;}
body{max-width: 640px;margin: 0 auto;font-size: 13px;color: #000;font-family: '微软雅黑', Arial, Helvetica, sans-serif;background: #f6f6f6;overflow-x: hidden;}
h1,h2,h3,h4,h5{font-weight: normal;}
*{outline: none;}
ol,ul{list-style: none;}
em,i{font-style: normal;}
table{border-collapse: collapse;}
img{vertical-align: top;border: 0px;width: 100%;}
a{text-decoration: none;border: 0px;color: #000;}
img.lazy,img.lazy_eff{background: url(../images/loading.gif) no-repeat 50% 50%;}
button,input[type=button]{border: 0px none;cursor: pointer;}
@media screen and (min-width:320px){.main,body,html{font-size: 13.5px!important;}}
@media screen and (min-width:360px){.main,body,html{font-size: 15px!important;}}
@media screen and (min-width:375px){.main,body,html{font-size: 15.5px!important;}}
@media screen and (min-width:414px){.main,body,html{font-size: 17px!important;}}
@media screen and (min-width:600px){.main,body,html{font-size: 25.5px!important;}}
@media screen and (min-width:640px){.main,body,html{font-size: 27px!important;}}
.clf:before,.clf:after{content: "";display: table;}
.clf:after{clear: both;}
.clf{*zoom: 1;}
.fl{float: left;}
.fr{float: right;}
.wxh{color: #FFF;background: #d9126c;padding: .1rem .3}
.pr{position: relative;}
.disnone{display: none;}
.mg1{margin: 1.4rem 0;}
.mt1{margin-top: 1rem;}
.col_pink{color: #ff679a;}
.col_green{color: #d9126c!important;}
.col_deepgreen{color: #d9126c!important;}
.col_yellow{color: #ffff00!important;}
.textIndent2{text-indent: 2em!important;}
.fwb{font-weight: bold!important;}
.fz09{font-size: .9rem!important;}
.main{margin: 0 auto;max-width: 640px;min-width: 320px;padding: 0;background: #f6f6f6;}
#floatQQ{position: fixed;z-index: 100;right: 0;top: 40%;width: 20%;max-width: 100px;cursor: pointer;display: none;}
#floatQQ img{width: 100%;height: auto;}
.top{position: relative;left: 0;top: 0;}
.top_box{text-align: center;position: absolute;left: 0;top: 0;width: 100%;height: 100%;color: #fff;}
.top_box .top_l{position: absolute;left: 6%;top: 23%;width: 5rem;height: 5rem;border-radius: 50%;overflow: hidden;border: 2px solid #fff;}
.top_box .top_c{position: absolute;left: 29%;top: 26%;}
.top_c p{line-height: 1.6rem;text-align: left;font-size: 1.1rem;color: #fff;}
.top_c p .sex{width: 14%;margin-left: .6rem;}
.top_c p:nth-of-type(2){font-size: .9rem;}
.top_c p .vip{width: 24%;margin-left: .4rem;margin-top: .2rem;}
.voice{background: #fff;border-radius: .6rem;display: block;width:55%;height: 2.4rem;line-height: 1.6rem;margin-top: .2rem;position: relative;left: .3rem;top: 0;}
.voice .voice_pic{width: 13%;margin-left: -4.7rem;margin-top: .6rem;}
.voice span{position: absolute;left: 2.4rem;top: .4rem;color: #000;font-size: 1rem;}
.voice i{display: block;position: absolute;right: .7rem;top: .3rem;width: .5rem;height: .5rem;background: #ff3d6d;border-radius: 50%;}
.voice .border{position: absolute;left: -.4rem;top: .2rem;width: 6%;}
.top_r{background: #ff679a;border-top-left-radius: 4rem;border-bottom-left-radius: 4rem;width: 6.5rem;height: 2.9rem;line-height: 2.4rem;overflow: hidden;cursor:pointer;margin-left: auto;position: absolute;top: 50%;right: 0;margin-top: -1.45rem;}
@keyframes moveleft{0%{right: -100%;opacity: 0;}
100%{right: 0%;opacity: 1;}}@-webkit-keyframes moveleft{0%{right: -100%;opacity: 0;}
100%{right: 0%;opacity: 1;}}@-moz-keyframes moveleft{0%{right: -100%;opacity: 0;}
100%{right: 0%;opacity: 1;}}@-o-keyframes moveleft{0%{right: -100%;opacity: 0;}
100%{right: 0%;opacity: 1;}}@-ms-keyframes moveleft{0%{right: -100%;opacity: 0;}
100%{right: 0%;opacity: 1;}}@keyframes big{0%{transform: scale(1);}
18%{transform: scale(1.1);}
32%{transform: scale(1);}
48%{transform: scale(1.1);}
64%{transform: scale(1);}
80%{transform: scale(1.1);}
100%{transform: scale(1);}}
@-webkit-keyframes big{0%{-webkit-transform: scale(1);}
18%{-webkit-transform: scale(1.1);}
32%{-webkit-transform: scale(1);}
48%{-webkit-transform: scale(1.1);}
64%{-webkit-transform: scale(1);}
80%{-webkit-transform: scale(1.1);}
100%{-webkit-transform: scale(1);}}
@-moz-keyframes big{0%{-moz-transform: scale(1);}
18%{-moz-transform: scale(1.1);}
32%{-moz-transform: scale(1);}
48%{-moz-transform: scale(1.1);}
64%{-moz-transform: scale(1);}
80%{-moz-transform: scale(1.1);}
100%{-moz-transform: scale(1);}}
@-o-keyframes big{0%{-o-transform: scale(1);}
18%{-o-transform: scale(1.1);}
32%{-o-transform: scale(1);}
48%{-o-transform: scale(1.1);}
64%{-o-transform: scale(1);}
80%{-o-transform: scale(1.1);}
100%{-o-transform: scale(1);}}
@-ms-keyframes big{0%{-ms-transform: scale(1);}
18%{-ms-transform: scale(1.1);}
32%{-ms-transform: scale(1);}
48%{-ms-transform: scale(1.1);}
64%{-ms-transform: scale(1);}
80%{-ms-transform: scale(1.1);}
100%{-ms-transform: scale(1);}}
.title{font-size:1rem;text-align: center;background: #d9126c;padding:.2rem .4rem;color: #fff;}
#my_article{text-align: center;}
#my_article img{display: inline-block;width: 96%;margin: .2rem 0;padding: .4rem;box-sizing: content-box;}
#my_article .article{padding: .6rem;line-height: 1.49;display: block;font-size: 1rem;text-indent: 2em;text-align: left;}
#my_article .dy{text-indent: 0em;border: 1px solid #e5e5e5;margin-bottom:1rem;padding: .6rem;line-height: 1.49;display: block;font-size: 1rem;text-align: left;}
#my_article .dy span{background:#d9126c;color:#fff;}
#my_article .noborder{text-indent: 0em;font-size: 1rem;}
#my_article .noborder p{text-indent: 0em;font-size: 1rem;}
.spe_bg{color: #ea3131;background: #ffffee;}
.top_r .add_top{width: 2.7rem;height: 2.7rem;background: #fff;border-radius: 4rem;float: left;margin-left: 0.05rem;margin-top: 0.08rem;color: #ff679a;font-size: 2.6rem;line-height: 2.4rem;box-sizing: border-box;}
.top_r span{display: block;width:4rem;font-size: .9rem;margin: 0.3rem 0 0 2.6rem;color: #fff;line-height: 1.2rem;}
.top_b{position: absolute;bottom: 0;left: 0;width: 100%;background: rgba(0, 0, 0, 0.5);overflow: hidden;color: #fff;font-size: .8rem;padding: .6rem 4rem;box-sizing: border-box;}
.top_b .top_b_people{width: 49%;float: left;border-right: 1px solid #fff;}
.top_b .top_b_people img{width: 12%;}
.top_b .top_b_like img{margin-left: 3.2rem;width: 13%;}
.top_b .top_b_people span,.top_b .top_b_like span{margin-left: .8rem;}
.top_b .top_b_like{width: 49%;float: left;}
.content{background: #fff;}
.content .menu{padding: 2rem 1rem 0;}
.content .menu li{float: left;width: 50%;text-align: center;padding-bottom: .2rem;border-bottom: 4px solid #e4e4e4;}
.content .menu li.on{border-bottom-color: #d9126c;}
.changes .tips{height: 4rem;line-height: 4rem;text-align: right;font-size: .8rem;margin-right: .8rem;color: #999;}
.changes .prev{margin-left: .8rem;}
.changes .first{height: 14.2rem;position: absolute;left: 0;top: 0;background: none;width: 100%;}
.changes .first p{text-align: center;}
.changes .first p:nth-of-type(1){color: #64aaff;margin-top: -1.3rem;}
.changes .first p:nth-of-type(2){color: #ff679a;margin-top: .3rem;}
.changes .first h3{text-align: center;margin-top: .7rem;font-weight: bold;}
.changes .first a{color: #64aaff;font-size: .7rem;text-align: center;display: inline-block;margin-top: 1.1rem;}
.changes .first #submit_btn{background: #ff679a;color: #fff;font-size: .9rem;padding: .4rem 3rem;border-bottom: none;border-radius: .4rem;margin-top: 0!important;}
.changes .first li.on{background: #ff679a !important;color:#fff !important;}
.changes #case .first ul{padding: .8rem 0 1rem 6%;}
.changes #case .first li{float: left;width:20%;margin-right:4%;border:1px solid #ff8db3;text-align:center;padding:0.3rem 0;font-size:.9rem;color: #ff8db3;border-radius:.3rem;background:#fff;}
.changes #second{text-align: center;}
.red{color:#FF0000;font-weight:bold;}
.changes #second li{float:left !important;display: inline-block;width:20%!important;margin-left: 0!important;margin-right: 4%!important;margin-top:.8rem!important;}
.changes #third{text-align: center;}
.red{color:#FF0000;font-weight:bold;}
.changes #third li{float:left !important;display: inline-block;width:20%!important;margin-left: 0!important;margin-right: 4%!important;margin-top:.8rem!important;}
.changes #fourth{text-align: center;}
.red{color:#FF0000;font-weight:bold;}
.changes #fourth li{float:left !important;display: inline-block;width:20%!important;margin-left: 0!important;margin-right: 4%!important;margin-top:.8rem!important;}
.changes #case #fourth .tips{height: 2.5rem;}
.changes #case #fourth h3{text-align: left;padding-left: 5.5rem;}
#case {}
#case p{font-size: .95rem;line-height: 1.4rem;}
#case #swiper_container{padding: 0 1rem 0;}
.bottom_float{    position: fixed;
    z-index: 1000000;
    width: 640px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;}
.bottom_float .audio_bottom{width: 8rem;height: 3rem;position: absolute;left: 20%;top: 27%;}
.bottom_float .audio_bottom .bottom_voice{width: 13%;margin-left: 1.2rem;margin-top: .8rem;}
.bottom_float .audio_bottom span{margin-top: .7rem;margin-left: .3rem;display: inline-block;}
.bottom_float .audio_bottom em{width: .4rem;height: .4rem;border-radius: 50%;background: #ff3d6d;display: inline-block;position: absolute;right: 1rem;top: .6rem;animation: shake .5s ease infinite alternate;-webkit-animation: shake .5s ease infinite alternate;-moz-animation: shake .5s ease infinite alternate;-ms-animation: shake .5s ease infinite alternate;-o-animation: shake .5s ease infinite alternate;;}
.bottom_float .bottom_btn{width: 6rem;height: 3rem;position: absolute;right: .6rem;top: 1.5rem;animation: big 1.4s ease infinite alternate;-webkit-animation: big 1.4s ease infinite alternate;-moz-animation: big 1.4s ease infinite alternate;-ms-animation: big 1.4s ease infinite alternate;-o-animation: big 1.4s ease infinite alternate;}
.middle_voice .m_voiceTop .icon{width: 8%;margin-right: .3rem;}
.middle_voice .m_voiceTop span{font-size: 1.1rem;font-weight: bold;margin-top: .1rem;}
.middle_voice .m_voiceBottom{margin-top: .6rem;}
.middle_voice .m_voiceBottom p{font-size: .9rem;line-height: 1.4rem;color: #555;}
.middle_voice .m_voiceBottom a{font-size: .95rem;line-height: 1.4rem;color: #ff6699;margin: .2rem 0 .5rem;display: inline-block;}
#case .M_voice{padding: 0 1rem;}
#case .M_voice .Middle_voice{width: 5%;position: absolute;left: 11rem;top: 2.4rem;}
#case .M_voice span{position: absolute;left: 12.8rem;top: 2.4rem;}
#case .M_voice em{width: .4rem;height: .4rem;border-radius: 50%;background: #ff3d6d;display: inline-block;position: absolute;right: 7.6rem;top: 2.2rem;animation: shake .5s ease infinite alternate;-webkit-animation: shake .5s ease infinite alternate;-moz-animation: shake .5s ease infinite alternate;-ms-animation: shake .5s ease infinite alternate;-o-animation: shake .5s ease infinite alternate;}
#Mask{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, .75);z-index: 10000;display: none;}
#Mask .pr{position: relative;margin:4rem auto 0px;max-width:605px;}
#Mask .qqimg{position: absolute;left: 0;top:0;max-width: 600px;}
#Mask .Mask_txt{position: absolute;width:100%;max-width:600px;text-align:center;top:3rem;}
#Mask .Mask_txt img{width:80%;}
#Mask .Mask_txt h3{font-weight: bold;margin-bottom: .6rem;}
#Mask .Mask_txt p:nth-of-type(1){margin-bottom: .6rem;}
#Mask .close_Mask{width: 3rem;height: 3rem;position: absolute;right: 0;top:0rem;}
#comment{display: none;padding: 0 1rem;}
#comment li{padding-bottom: 1.1rem;border-bottom: 2px solid #f2f2f2;margin-top: 1.1rem;}
#comment .user_Info img{width: 12%;border-radius: 50%;}
#comment .user_Info span{font-weight: bold;margin-top: .7rem;margin-left: .6rem;}
#comment .user_Info strong{font-weight: normal;color: #999;margin-top: .8rem;font-size: .9rem;margin-right: .5rem;}
#comment .user_txt p{font-size: .9rem;color: #555;line-height: 1.4rem;margin-top: .8rem;}
#comment .user_Pic li:nth-of-type(1){margin-left: 0;}
#comment .user_Pic li{float: left;width: 30%;padding-bottom: 0;margin-left: .4rem;}
.voice_pic.on,.Middle_voice.on,.bottom_voice.on{animation: shake .35s ease infinite alternate;-webkit-animation: shake .35s ease infinite alternate;-moz-animation: shake .35s ease infinite alternate;-ms-animation: shake .35s ease infinite alternate;-o-animation: shake .35s ease infinite alternate;}
@keyframes shake{0%{opacity: 1;}
100%{opacity: .1;}}
@-webkit-keyframes shake{0%{opacity: 1;}
100%{opacity: .1;}}
@-moz-keyframes shake{0%{opacity: 1;}
100%{opacity: .1;}}
@-ms-keyframes shake{0%{opacity: 1;}
100%{opacity: .1;}}
@-o-keyframes shake{0%{opacity: 1;}
100%{opacity: .1;}}
.add_btn{width: 12rem;height: 3rem;position: absolute;left: 6rem;top: 23rem;background: #ff679a;border-radius: .5rem;text-align: center;line-height: 3rem;color: #fff!important;font-size: 1.4rem;text-decoration: none!important;}
#third p{margin-top: 0!important;}
/*缩略图*/
#thumb{width: 100%;height: 100%;position: fixed;left: 0;top: 0;background: #000;z-index: 100000;display: none;}
#thumb .thumb_close{padding: .4rem;color: #fff;position: absolute;right: 0;top: 3rem;font-size: 1.8rem;font-size: 'Helvetica';}
.depart{width: 100%;height: .4rem;background: #f2f2f2;}
.case_main{padding:1rem;}
.search{ background:#d9126c; }
.search h4{ font-size:1.1rem; line-height:3.5rem; height:3.5rem; color:#FFF; font-weight:normal; letter-spacing:1px; padding-left:1rem;}
.search h4 span.k{ background:#FFF; color:#000; font-weight:bold;  padding:.35rem 2rem .35rem 1.5rem; margin-left:1rem;}
.search h4 span .imgk{ margin-top:-.1rem!important; padding-right:1rem!important;vertical-align: middle!important;border: 0px;width:auto !important;}
.skey{ border:solid 2px #d9126c;   font-size:1.5rem; line-height:2.8rem;}
.skey p{ padding:.7em; letter-spacing:1px;}
 span.b {color: #FFF; background:#d9126c;padding: .1rem .3rem;}
 span.sky{color:#2A90D7}
 span.strong{ font-weight:bold;}
 span.copy{ color:#ff679a; font-weight:normal; font-family:Arial; font-size:.9em;}
 @media only screen and (min-width: 480px) and (max-width: 539px){
.top h1{  font-size:1.2rem; line-height:2.1rem; padding:.6rem 0;}
.key {    font-size: 1.1rem;   line-height: 2rem;}
.skey{  font-size: 1.1rem;   line-height: 2rem;}
.search h4{ font-size:1rem; padding-left: .8rem;}
}
 @media only screen and (max-width: 479px) {
.top h1{  font-size:1.1rem; line-height:1.6rem; padding:.6rem 0;}
.key {    font-size: 1rem;   line-height: 2rem;}
.skey{  font-size: 1rem;   line-height: 2rem;}
.search h4{ font-size:.9rem;    padding-left: 1rem;}
 }
.case_main p{color: #000;}
.qq_Mask{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, .75);z-index: 100000;display: none;}
.qq_Mask img{position: absolute;left: 0;top: 6rem;}
.qq_Mask .Mask_txt{position: absolute;left: 5rem;top: 17.5rem;}
.qq_Mask .Mask_txt h3{font-weight: bold;margin-bottom: .6rem;}
.qq_Mask .close_Mask{width: 3rem;height: 3rem;position: absolute;right: 0;top: 14.5rem;}
.wechat{background: #ffff00;text-align: center;padding: .4rem 0;margin-bottom: 1rem;}
.wechat span{background: #e60012;color: #000;padding: .1rem .3rem;}
.Link{color: #66b3ff;text-decoration: underline;}
.Mask_wechat{background: #ff679a;text-align:center;padding: 0.6rem;text-align: center;color: #fff;font-size: 1.6rem;width: 78%;margin: .6rem auto 0;border-radius: .5rem;}
.case_main .wechat_txt{text-align: center;font-size: 1.2rem;margin-bottom: 1.6rem;}
.case_main .wechat_txt p{font-size: 1rem!important;}
.case_main .wechat_txt .wechat_txtnum{color: #fff;background: #d9126c;border-radius: 2rem;display: inline-block;padding: 0rem .5rem .3rem;margin: .4rem 0;}
.InfoTitle{text-align: center;background: #22ac38;padding: .3rem 0;margin-bottom: 1.2rem;}
.InfoTitle h3{color: #fff;}
.box_80{width: 80%;margin: 1rem auto;}
.case_main .middle_voice{padding: .6rem .3rem;box-sizing: border-box;border: 1px solid #e5e5e5;}
.case_main .fit_people{margin-bottom: 1rem;}
.case_main .fit_people p{text-indent: 2em;}
.case_main .fit_people .fitTitle{text-align: center;color: #8fc31f;font-size: 1.1rem;margin: .8rem 0 .4rem;}
.case_main .fit_people .fitTitle img{width: 4%;margin-top: .3rem;margin-right: .2rem;}
#wechat {
	width: 100%;
	background: #7c68b4;
	position: fixed;
	bottom: 0;
	z-index: 999;
}
#gd {
	height: 40px;
	line-height: 30px;
	color: #fff;
	padding: 5px;
}
#gd #goto {
	background: green;
	color: #fff;
	border-radius: 8px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	padding: 5px;
	display: inline-block;
	margin-left: 10px;
}
.tanchuang {
    width: 280px;
    height: 180px;
    border: 2px solid #339933;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000000001;
    margin-left: -140px;
    margin-top: -90px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    display: none;
    font-family: "微软雅黑","新宋体",sans-serif;
}
.tcTop {
    color: red;
    font-weight: bold;
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
}
.tcBottom {
    margin: 0 auto;
    width: 170px;
    margin-top: 25px;
}
.tcBottom a {
    color: #fff;
    display: inline-block;
    width: 65px;
    height: 25px;
    box-shadow: none;
    text-decoration: none;
}
.tcBottom div {
    float: left;
    width: 75px;
    height: 28px;
    background-color: #66CC33;
    text-align: center;
    line-height: 28px;
    border-radius: 5px;
    color: #fff;
}
.tcBottom .quweixin {
    margin-left: 20px;
    font-weight: bold;
	font-size: 18px;
}
.foot {
    width: 1100px;
    background: #e0177c;
    height: 100px;
    border-bottom: 5px solid #660033;
    position: fixed;
    left: 50%;
    bottom: 0;
    z-index: 1000;
    margin-left: -550px;
}
.wei{
    letter-spacing: 21px;
}
.foot {
    width: 1100px;
    background: #e0177c;
    height: 100px;
    border-bottom: 5px solid #660033;
    position: fixed;
    left: 50%;
    bottom: 0;
    z-index: 1000;
    margin-left: -550px;
}
.wei{
    letter-spacing: 21px;
}
.foot_head {
	
    width: 18%;
    float: left;
    display: block;
    margin-top: -.8rem;
    margin-left: 5%;
    width: 13%;
    float: left;
    display: block;
    margin-top: -1.6rem;
}
.foot_head img{
	height: auto!important;
    vertical-align: top;
    border: 0px;
    width: 100%;
}
.foot_txt{
    color: #FFF;
    position: absolute;
    bottom: 18%;
    left: 23%;
    /* width: 15rem; */
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.3rem;
    z-index: 100;
    text-align: center;
}
.foot_txt1 {
    color: #FFF;
    position: absolute; 
    /* bottom: 57%; */
     left: 23%; 
     width: 17rem; 
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.3rem;
    z-index: 100;
    /*text-align: center;*/}
/*.foot_txt1{
    color: #FFF;
    position: absolute;
    bottom: 57%;
    left: 30%;
    
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.3rem;
    z-index: 100;
    text-align: center;
}*/
.foot_txt2{
    color: #FFF;
    background-color: #ff4181;
    font-weight: bold;
    padding: .4rem .6rem;
    border-radius: .5rem;
    position: absolute;
    bottom: 18%;
    right: 3%;
    font-size: 1rem;
    border: 0px none;
    cursor: pointer;
}
.font{
    font-size: .9rem;
    display: inline-block;
}
@media only screen and (max-width: 640px) {
	.foot {
		width:100%;
		background:#e0177c;
		height:3.8rem;
		border-bottom: 5px solid #660033;
		position:fixed;
		left:auto; 
		bottom:0;
		z-index:1000;
		margin:0 auto; 
		max-width: 640px;
    }
    .foot_head {
        width: 18%;
        float: left;
        display: block;
        margin-top: -.8rem;
        margin-left: 5%;
    }
    .foot_txt{
            color: #FFF;
            position: absolute;
            bottom: 20%;
            
            /* width: 15rem; */
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.3rem;
            z-index: 100;
            letter-spacing: 1px;
    }
 .wei{
        letter-spacing: 1.5px;
    }
}
	